html {
	font-family: Arial;
}

#sonnets {
	font-family: Tahoma;
}

section {
	width: 65%;
	float: left;
  clear: left;
}


#sidebar {
  background-color: pink;
	width: 30%;
	float: right;
  clear: right;
}

footer {
  clear: both;
}

mark {
  background-color: lightblue;
  color: black;
}