html {
	font-family: "Arial";


section {
	font-family: "Tahoma";
}

body {
	width: 65%;
	float: left;
	clear: left;
}

.sidebar {
	background-color: blue;
	width: 30%;
	float: right;
	clear: right;
}

